<h2 class="title is-3">Treffe je Gericht einen Auswahl. Von links nach rechts:</h2>
<ul>
    <li>Das Gericht ist für mich sehr unbekannt</li>
    <li>Das Gericht ist für mich etwas unbekannt</li>
    <li>Das Gericht ist für mich weder unbekannt, noch bekannt</li>
    <li>Das Gericht ist für mich etwas bekannt</li>
    <li>Das Gericht ist für mich sehr bekannt</li>
</ul>
<h2>Am Ende klicke auf das 'Senden' Knopf.</h2>

<form method="post" action="/studyresults">
    {{#each dishes}}
        <p class="txt"><b>{{title}}</b></p>
        {{#if description_title}}
            <p class="txt">{{description_title}}</p>
        {{/if}}
        <img class="scaling" src='{{image_url}}' alt="Bild fehlt."><br><br>
        <label>sehr unbekannt</label>
        <input type="radio" name="{{_id}}" value=1 required>
        <input type="radio" name="{{_id}}" value=2>
        <input type="radio" name="{{_id}}" value=3>
        <input type="radio" name="{{_id}}" value=4>
        <input type="radio" name="{{_id}}" value=5>
        <label>sehr bekannt</label>
        <p class="separator">---------------------------------------------------------------------------------------</p>
    {{/each}}
    <br>
    <input type="submit" value="Submit">
</form>

<style>
    h2 {
        color: #8A2BE2;
    }

    .scaling {
        width:  auto;
        height: 250px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    body {
        background-color: #EEF3E2;
        display: table-cell;
        vertical-align: middle;
    }
    html, body {
        height: 100%;
    }
    html {
        display: table;
        margin: auto;
    }
    .txt {
        max-width: 400px;
        word-wrap: break-word;
    }
    .separator {
        color: #8A2BE2;
    }
</style>