<h2 class="title is-3">titeltest {{kek}}</h2>

{{#each posts}}
    {{o}}
{{/each}}

<form method="post" action="/456">
    <input type="radio" name="{{kek}}" value="{{kek}}d" required>
    <input type="radio" name="{{kek}}" value="{{kek}}2">
    <input type="radio" name="{{kek}}" value="{{kek}}3">
    <input type="radio" name="{{kek}}" value="{{kek}}4">
    <input type="radio" name="{{kek}}" value="{{kek}}5">
    <input type="submit" value="Submit">
</form>

<form action="" method="post">
    <button name="foo" value={{kek}}>prezzme</button>
</form>

<style>
    h2 {
        color: purple
    }
</style>