<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<h1 class="title is-3">Treffe bitte für jedes einzelne Gericht eine Auswahl.</h1>
<b>Mir ist Gericht XY sehr bekannt</b>
<ul>
    <li>Trifft überhaupt nicht zu</li>
    <li>Trifft eher nicht zu</li>
    <li>Trifft eher zu</li>
    <li>Trifft voll und ganz zu</li>
</ul>
<b>Ich habe Gericht XY sehr oft gegessen</b>
<ul>
    <li>Trifft überhaupt nicht zu</li>
    <li>Trifft eher nicht zu</li>
    <li>Trifft eher zu</li>
    <li>Trifft voll und ganz zu</li>
</ul>
<h1>Bitte klicke am Ende auf "Senden", um die<br>Umfrage abzuschließen und anschließend<br>am Gewinnspiel teilnehmen zu können.</h1>

<form method="post" id="noveltyForm" onsubmit="setCaptcha()" action="/studyresults">
    <div class="containerBorders datenschutz">
        <h3>Informationen</h3>
        <!--<p>Wir erheben E-Mail Adressen und speichern diese um Probanten benachrichtigen zu können, falls sie im Gewinnspiel gewonnen haben. Die E-Mail Adressen werden nicht weitergegeben und werden
            nach der Durchführung der Studie gelöscht.</p>-->
        <p>Du kannst deine <b>E-Mail Adresse eingeben, wenn du am Gewinnspiel teilnehmen möchtest.</b> Die E-Mail Adresse wird nur für das Gewinnspiel genutzt und die <b>Angabe dessen ist optional.</b></p>
        <p>Die Fragen zum Alter, Geschlecht und Bildungsstatus dienen zur Studie und sind anonymisiert. In diesem Kontext heißt das, dass man diese Fragen zu der angegebenen E-Mail Adresse nicht zuordnen kann.</p>
        <p>Am ende der Studie verlosen wir <b>3 Amazon Gutscheine im Wert von je 20 €</b> an zufällige Teilnehmer. Falls ihr gewonnen habt, werdet ihr per E-Mail benachrichtigt.</p>
<!--        <label class="block"><input type="checkbox" name="datenschutz" value="accepted" required>Ich stimme der Speicherung meiner E-Mail Adresse zu</label>-->
    </div>
    <input type="hidden" value="" name="captcha" id="captchaInput" />
    <b>Deine E-Mail Adresse (optional):</b>
    <input type="email" name="email"><br><br>
    <b>Dein Alter:</b>
    <input type="number" name="alter" min="1" max="99" required><br><br>
    <b>Dein Geschlecht:</b>
    <label class="block"><input type="radio" name="geschlecht" value=m>männlich</label>
    <label class="block"><input type='radio' name="geschlecht" value=w required>weiblich</label>
    <br>
    <b>Dein höchster Bildungsabschluss:</b>
    <select name="bildung">
        <option value="" disabled selected hidden>treffe einen Auswahl..</option>
        <option value="Kein Schulabschluss">Kein Schulabschluss</option>
        <option value="Grund-/Hauptschulabschluss">Grund-/Hauptschulabschluss</option>
        <option value="Realschule (Mittlere Reife)">Realschule (Mittlere Reife)</option>
        <option value="Gymnasium (Abitur)">Gymnasium (Abitur)</option>
        <option value="Abgeschlossene Ausbildung">Abgeschlossene Ausbildung</option>
        <option value="Fachhochschulabschluss">Fachhochschulabschluss</option>
        <option value="Hochschule (Bachelor)">Hochschule (Bachelor)</option>
        <option value="Hochschule (Master)">Hochschule (Master)</option>
        <option value="Hochschule (Diplom)">Hochschule (Diplom)</option>
        <option value="Hochschule (Magister)">Hochschule (Magister)</option>
        <option value="Hochschule (Promotion)">Hochschule (Promotion)</option>
        <option value="Sonstiges">Sonstiges</option>
    </select>
    <br><br>
    {{#each dishes}}
        <div class="containerBorders">
        <p class="txt"><b>{{title}}</b></p>
        {{#if description_title}}
            <p class="txt">{{description_title}}</p>
        {{/if}}
        <img class="scaling" src='{{image_url}}' alt="Bild fehlt."><br>
            <p style="font-style: italic;"><b>Erklärung für Auswahl 1:</b><br>Wenn ich das Gericht so dargestellt auf einer Speisekarte sehen würde, würde ich wissen was das ist</p>
            <p style="font-style: italic;"><b>Erklärung für Auswahl 2:</b><br>Das dargestellte Gericht habe ich schon sehr oft gegessen</p>
        <table>
            <tr>
                <td><!--empty--></td>
                <td class="tdRadioWidth">
                    <div>
                        <table>
                            <tr>
                                <td>
                                    <div class="centerText">trifft überhaupt<br>nicht zu</div>
                                </td>
                                <td>
                                    <div class="customTdWidth"></div>
                                </td>
                                <td>
                                    <div class="centerText">trifft voll und<br>ganz zu</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdTextWidth">
                    <span class="txt"><b>Mir ist {{title}} sehr bekannt.</b></span>
                </td>
                <td class="tdRadioWidth">
                    <fieldset>
                        <div>
                            <input type="radio" name="{{id_num}}" value=1 required>
                            <input type="radio" name="{{id_num}}" value=2>
                            <input type="radio" name="{{id_num}}" value=3>
                            <input type="radio" name="{{id_num}}" value=4>
                        </div>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td class="tdTextWidth">
                    <span class="txt"><b>Ich habe {{title}} sehr oft gegessen.</b></span>
                </td>
                <td class="tdRadioWidth">
                    <fieldset>
                        <div>
                            <input type="radio" name="{{id_num}}_gegessen" value=1 required>
                            <input type="radio" name="{{id_num}}_gegessen" value=2>
                            <input type="radio" name="{{id_num}}_gegessen" value=3>
                            <input type="radio" name="{{id_num}}_gegessen" value=4>
                        </div>
                    </fieldset>
                </td>
            </tr>
        </table>
        <input type="hidden" value="{{location}}" name="{{id_num}}_location" />
        </div>
    {{/each}}
    <div class="g-recaptcha" data-sitekey="6LeMCWkUAAAAAHkXssW0pTp_cGruaxVJAKHtvOog"></div>
    <br>
    <input class="sendButton" type="submit" value="Senden">
</form>

<script>
    function setCaptcha()
    {
        document.getElementById('captchaInput').value = document.querySelector('#g-recaptcha-response');
    }
</script>

<style>
    h1 {
        color: black;/*#8A2BE2;*/
    }
    .scaling {
        width:  auto;
        height: 300px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    body {
        background-color: #e9ebee;
        display: table-cell;
        vertical-align: middle;
        font-family: arial,sans-serif;
    }
    html, body {
        height: 100%;
    }
    html {
        display: table;
        margin: auto;
    }
    .txt {
        max-width: 400px;
        word-wrap: break-word;
    }
    .sendButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
        -webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
        box-shadow:inset 0px 1px 0px 0px #a6827e;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
        background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
        background-color:#7d5d3b;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        border:1px solid #54381e;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #4d3534;
    }
    .tdTextWidth {
        width: 400px;
    }
    .tdRadioWidth {
        width: 200px;
    }
    .containerBorders {
        border-style: solid;
        border-width: thin;
        margin-bottom: 20px;
        padding: 10px;
    }
    .centerText {
        text-align: center;
    }
    .customTdWidth {
        width: 40px;
    }
    .datenschutz {
        max-width: 800px;
        word-wrap: break-word;
    }
    fieldset {
        text-align: center;
        border: 0;
    }
    .block {
        display: block;
    }
    input[type="radio"] {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
        transform: scale(1.5);
    }
</style>