<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<h2 class="title is-3">Treffe bitte für jedes einzelne Gericht eine Auswahl.</h2>
<b>Ich kenne Gericht XY sehr gut</b>
<ul>
    <li>Ich stimme gar nicht zu</li>
    <li>Ich stimme eher nicht zu</li>
    <li>Ich stimme eher zu</li>
    <li>Ich stimme voll und ganz zu</li>
</ul>
<b>Ich habe Gericht XY sehr oft gegessen</b>
<ul>
    <li>Ich stimme gar nicht zu</li>
    <li>Ich stimme eher nicht zu</li>
    <li>Ich stimme eher zu</li>
    <li>Ich stimme voll und ganz zu</li>
</ul>
<h2>Bitte klicke am Ende auf "Senden", um die<br>Umfrage abzuschließen und anschließend<br>am Gewinnspiel teilnehmen zu können.</h2>

<form method="post" id="noveltyForm" onsubmit="setCaptcha()" action="/studyresults">
    <input type="hidden" value="" name="captcha" id="captchaInput" />
    Deine E-Mail Adresse:
    <input type="email" name="email" required>
    {{#each dishes}}
        <p class="txt"><b>{{title}}</b></p>
        {{#if description_title}}
            <p class="txt">{{description_title}}</p>
        {{/if}}
        <img class="scaling" src='{{image_url}}' alt="Bild fehlt."><br><br>
        <span class="txt"><b>Ich kenne {{title}} sehr gut.</b></span><br>
        <label>stimme gar nicht zu</label>
        <input type="radio" name="{{_id}}" value=1 required>
        <input type="radio" name="{{_id}}" value=2>
        <input type="radio" name="{{_id}}" value=3>
        <input type="radio" name="{{_id}}" value=4>
        <label>stimme voll und ganz zu</label>
        <br>
        <span class="txt"><b>Ich habe {{title}} sehr oft gegessen.</b></span><br>
        <label>stimme gar nicht zu</label>
        <input type="radio" name="{{_id}}_gegessen" value=1 required>
        <input type="radio" name="{{_id}}_gegessen" value=2>
        <input type="radio" name="{{_id}}_gegessen" value=3>
        <input type="radio" name="{{_id}}_gegessen" value=4>
        <label>stimme voll und ganz zu</label>
        <p class="separator">---------------------------------------------------------------------------------------</p>
    {{/each}}
    <br>
    <div class="g-recaptcha" data-sitekey="6LeMCWkUAAAAAHkXssW0pTp_cGruaxVJAKHtvOog"></div>
    <input class="sendButton" type="submit" value="Senden">
</form>

<script>
    function setCaptcha()
    {
        document.getElementById('captchaInput').value = document.querySelector('#g-recaptcha-response');
    }
</script>

<style>
    h2 {
        color: #8A2BE2;
    }

    .scaling {
        width:  auto;
        height: 250px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    body {
        background-color: #EEF3E2;
        display: table-cell;
        vertical-align: middle;
    }
    html, body {
        height: 100%;
    }
    html {
        display: table;
        margin: auto;
    }
    .txt {
        max-width: 400px;
        word-wrap: break-word;
    }
    .separator {
        color: #8A2BE2;
    }
    .sendButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
        -webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
        box-shadow:inset 0px 1px 0px 0px #a6827e;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
        background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
        background-color:#7d5d3b;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        border:1px solid #54381e;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #4d3534;
    }
</style>