<h1 class="title is-3">Treffe bitte für jedes einzelne Gericht eine Auswahl. Beachte dabei die dargestellten
    Informationen zu den Gerichten, die deine Entscheidungen beeinflussen könnten, wie z.B. Preis oder Küche</h1>
<b>Ich würde das Gericht essen bzw. ausprobieren</b>
<ul>
    <li>Ich stimme zu</li>
    <li>Ich stimme nicht zu</li>
</ul>
<h1>Am Ende klicke auf das 'Senden' Knopf.</h1>

<form method="post" action="/trainbrainresults">
    <input type="hidden" value={{dbCollection}} name="dbCollection" />
    {{#if nousercode}}
        <div class="containerBorders">
            <p>
                Erstelle dir bitte einen persönlichen Zugangscode.
            </p>
            Dein Zugangscode:
            <input type="text" pattern=".{6,6}" name="netToken" required>
            <p class="txtBig">
                Der Code besteht aus <b>den ersten zwei Buchstaben des Namens deiner Mutter, den ersten zwei Buchstaben des Namens deines Vaters</b> und <b>den ersten zwei Ziffern deines Geburtstages.</b>
                <br>
                Beispiel: <b>Ma</b>ria, <b>Ch</b>ristian,  <b>15</b>.07.1990 ergibt  <b>MACH15</b>
            </p>
        </div>
    {{/if}}
    {{#if usercode}}
        <input type="hidden" value={{usercode}} name="netToken" />
    {{/if}}
    <br>
    <br>
    {{#each dishes}}
        <div class="containerBorders">
            <p class="txt"><b>{{title}}</b></p>
            {{#if description_title}}
                <p class="txt">{{description_title}}</p>
            {{/if}}
            <p class="txt"><b>Restaurant:</b> {{restaurant}}</p>
            <p class="txt"><b>Preis:</b> {{price}} {{#if ../euro}}€{{/if}}{{#if ../dollar}}${{/if}}</p>
            <p class="txt"><b>Entfernung zu Fuß in Meter:</b> {{distance}}</p>
            <p class="txt"><b>Küche:</b> {{kitchen_style}}</p>
            <p class="txt"><b>Gerichttyp:</b> {{type}}</p>
            <img class="scaling" src='{{image_url}}' alt="Bild fehlt."><br><br>
            <label class="block"><input type="radio" name="{{id_num}}" value=1>Ich würde das Gericht essen bzw. ausprobieren</label>
            <label class="block"><input type='radio' name="{{id_num}}" value=0 required>Ich würde das Gericht nicht essen bzw. ausprobieren</label>
        </div>
    {{/each}}
    {{#if euro}}
        <input class="sendButton" type="submit" value="Weiter zur Seite 2">
    {{/if}}
    {{#if dollar}}
        <input class="sendButton" type="submit" value="Senden">
    {{/if}}

</form>

<style>
    h1 {
        color: black;
        width: 650px;
    }
    .scaling {
        width:  auto;
        height: 250px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    body {
        background-color: #e9ebee;
        display: table-cell;
        vertical-align: middle;
        font-family: arial,sans-serif;
    }
    html, body {
        height: 100%;
    }
    html {
        display: table;
        margin: auto;
    }
    .txt {
        max-width: 400px;
        word-wrap: break-word;
    }
    .txtBig {
        max-width: 700px;
        word-wrap: break-word;
    }
    .separator {
        color: #8A2BE2;
    }
    .sendButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
        -webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
        box-shadow:inset 0px 1px 0px 0px #a6827e;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
        background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
        background-color:#7d5d3b;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        border:1px solid #54381e;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #4d3534;
    }
    .containerBorders {
        border-style: solid;
        border-width: thin;
        margin-bottom: 20px;
        padding: 10px;
    }
    .block {
        display: block;
        margin: 10px 20px 0px 0px;
    }
    input[type="radio"] {
        -ms-transform: scale(2); /* IE 9 */
        -webkit-transform: scale(2); /* Chrome, Safari, Opera */
        transform: scale(2);
        margin-right: 10px;
    }
</style>